@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #141414;
  font-size: 14px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor {
  background-color: hsl(0, 0%, 12%);
  width: 100%;
  max-width: 384px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.header {
  text-align: center;
}
.header img {
  width: 100%;
  max-width: 88px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
h1 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 24px;
  color: white;
}
h2 {
  font-size: 14px;
  font-weight: 600;
  color: hsl(75, 94%, 57%);
  margin-top: 8px;
}
.header p {
  font-size: 14px;
  color: white;
  font-weight: 400;
  margin-top: 24px;
}
.buttons {
  text-align: center;
  width: 100%;
  align-items: center;
}
.buttons {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.buttons a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 14px;
  font-weight: 600;
}
.btn {
  background-color: hsl(0, 0%, 20%);
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.btn:hover {
  background-color: hsl(75, 94%, 57%);
  color: #141414;
}
@media screen and (max-width: 480px) {
  .container {
    margin: 115px 24px;
  }
}
